<div class="itemCard">
    <div>
      <div>
        <p class="title-item">{{"MODULE.CHANGE_PASSWORD"|translate}}</p>
      </div>
    </div>
    <div class="customCard">
      <button class="group">{{"GROUP.GENERAL_CHANGE_PASSWORD_GROUP"|translate}}</button>
      <div class="grid p-fluid form ">

        <div class="field col-12 md:col-6">
          <label class="columnLabel" class="block">รหัสผ่านใหม่ :</label>
          <p-password [(ngModel)]="model.newPassword" [feedback]="false" [toggleMask]="true"></p-password>

        </div>
        <div class="field col-12 md:col-6">
          <label class="columnLabel" class="block">ยืนยันรหัสผ่าน  :</label>
          <p-password [(ngModel)]="model.confirmNewPassword" [feedback]="false" [toggleMask]="true"></p-password>

        </div>
      </div>
    </div>
    <div class="grid p-fluid">
      <div class="field col-12 md:col-2">
        <m-button setLabel="LABEL.BACK" (onClick)="onBackCustom()">
        </m-button>
      </div>
      <div class="field col-12 md:col-2">
        <m-button setLabel="LABEL.CHANGE_PASSWORD" (onClick)="onSave()">
        </m-button>
      </div>
    </div>
  </div>
  