.header-group{
    background-color: rgb(182, 182, 182);
}
.form{
    padding-left: 20px;
}
.field-custom{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.red{
    color: red;
    font-size: 12px;
}