.field-custom{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.right{
    text-align: right;
}
.ml-1{
    padding-left: 30px;
}
.red{
    color: red;
    padding-left: 30px;
    font-size: 12px;
}