.image-upload{
    width: 100px;
    height: 100px;
}
// .row {
//     display: flex;
//     overflow: scroll;

//     background-color: aqua;
//   }

  .contain{
    width: 100%;
    height: 105px;
    display: flex;
    overflow-x: auto;

  }
.item{
    margin: 2px;
    border: 2px;
    border-color: black;
    flex-shrink: 0;

}
.remove{
  color: red;
  position:absolute;
  align-items: center;
  margin-top: 5px;
  margin-left: 75%;
  font-size: 20px;

}
.contain-item{
  position:relative;

}
img {
  width: 100px;
  height: 100px;
  object-fit: cover
}
.select-image-btn{
  width: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.bx{
  margin-left: 5px;
  margin-right: 5px;
  font-size: 25px;
  color: #005cfa;
}

.columnLabel{
  padding: 10px;  
  width: 250px;
  border-radius: 5px;
  background: #d8d8d8;
  border: 0px solid ;
}