<div class="itemCard">
  <div>
    <div>
      <p class="title-item">{{"MODULE.NATIONALITY"|translate}}</p>
    </div>
  </div>
  <div class="customCard">
    <button class="group">{{"GROUP.GERNERAL_NATIONALITY_GROUP"|translate}}</button>
    <div class="grid p-fluid form ">
      <div class="field col-12 md:col-3">
        <m-input-text setId="NATIONALITY_NAME" setLabel="LABEL.NATIONALITY_NAME" [(setModel)]=model.nationalityName   [setRequired]="true"  >
        </m-input-text>
      </div>
      <div class="field col-12 md:col-3">
        <m-input-text setId="NATIONALITY_DESCRIPTION" setLabel="LABEL.NATIONALITY_DESCRIPTION" [(setModel)]=model.nationalityDescription     >
        </m-input-text>
      </div>
      <div class="field col-12 md:col-3">
        <m-input-text setId="REMARK" setLabel="LABEL.REMARK" [(setModel)]=model.remark     >
        </m-input-text>
      </div>
    </div>
  </div>
  <div class="grid p-fluid">
    <div class="field col-12 md:col-2">
      <m-button setClassName="backBtn" setLabel="LABEL.BACK" (onClick)="onBack()">
      </m-button>
    </div>
    <div *ngIf = !view class="field col-12 md:col-2">
      <m-button setClassName="saveBtn" setLabel="LABEL.SAVE" (onClick)="onSave()">
      </m-button>
    </div>
  </div>
</div>
