.field-custom{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.color-full{
    margin-top: 15px;
    background-color: rgb(241, 205, 161);
}
.left{
    text-align: start;
}
.green{
    color: green;
  }
  .bold{
    font-weight: 700;

  }
  .red{
    color: red;
  }
  .header-subject{
    font-weight: 700;
  }
  .subject{
    font-weight: 700;
  }
  .body{
    padding-left: 25px;
  }