<div class="itemCard">
  <div>
    <div>
      <p class="title-item">{{"MODULE.SAR_TEACHING_FORMAT"|translate}}</p>
    </div>
  </div>
  <div class="customCard">
    <button class="group">รูปแบบ/วิธีการจัดกิจกรรมการเรียนการสอนที่ครูใช้ คือ ข้อใดบ้าง (ตอบได้มากกว่า 1 ข้อ) </button>
    <div class="grid p-fluid form ">
      <div class="field col-6 md:col-3">
        <m-dropdown setId="TEACHER_ID" setLabel="ชื่อ-สกุล" [(setModel)]=model.teacherId    [setSelectOption]=teacherDropdown [setViewValue]=model.teacherValue [setReadonly] = "isTeacher" >
        </m-dropdown>
      </div>
      <div class="field col-6 md:col-3">
        <m-input-text setId="SCHOOLYEAR" setLabel="LABEL.SCHOOLYEAR" [(setModel)]=model.schoolyear   [setRequired]="true"   >
        </m-input-text>
      </div>
       <div class="field col-6 md:col-6"></div>
      <div class="field col-6 md:col-6">
        <m-switch setId="TEACHING_FORMAT_1" setLabel="LABEL.TEACHING_FORMAT_1" [(setModel)]=model.teachingFormat1     >
        </m-switch>
      </div>
     
      <div class="field col-6 md:col-6">
        <m-switch setId="TEACHING_FORMAT_2" setLabel="LABEL.TEACHING_FORMAT_2" [(setModel)]=model.teachingFormat2     >
        </m-switch>
      </div>
      <div class="field col-6 md:col-6">
        <m-switch setId="TEACHING_FORMAT_3" setLabel="LABEL.TEACHING_FORMAT_3" [(setModel)]=model.teachingFormat3     >
        </m-switch>
      </div>
      <div class="field col-6 md:col-6">
        <m-switch setId="TEACHING_FORMAT_4" setLabel="LABEL.TEACHING_FORMAT_4" [(setModel)]=model.teachingFormat4     >
        </m-switch>
      </div>
      <div class="field col-6 md:col-6">
        <m-switch setId="TEACHING_FORMAT_5" setLabel="LABEL.TEACHING_FORMAT_5" [(setModel)]=model.teachingFormat5     >
        </m-switch>
      </div>
      <div class="field col-6 md:col-6">
        <m-switch setId="TEACHING_FORMAT_6" setLabel="LABEL.TEACHING_FORMAT_6" [(setModel)]=model.teachingFormat6     >
        </m-switch>
      </div>
      <div class="field col-6 md:col-6">
        <m-switch setId="TEACHING_FORMAT_7" setLabel="LABEL.TEACHING_FORMAT_7" [(setModel)]=model.teachingFormat7     >
        </m-switch>
      </div>
      <div class="field col-6 md:col-6">
        <m-switch setId="TEACHING_FORMAT_8" setLabel="LABEL.TEACHING_FORMAT_8" [(setModel)]=model.teachingFormat8     >
        </m-switch>
      </div>
      <div class="field col-6 md:col-6">
        <m-switch setId="TEACHING_FORMAT_9" setLabel="LABEL.TEACHING_FORMAT_9" [(setModel)]=model.teachingFormat9     >
        </m-switch>
      </div>
      <div class="field col-6 md:col-6">
        <m-switch setId="TEACHING_FORMAT_10" setLabel="LABEL.TEACHING_FORMAT_10" [(setModel)]=model.teachingFormat10     >
        </m-switch>
      </div>
      <div class="field col-6 md:col-6">
        <m-switch setId="TEACHING_FORMAT_11" setLabel="LABEL.TEACHING_FORMAT_11" [(setModel)]=model.teachingFormat11     >
        </m-switch>
      </div>
      <div class="field col-6 md:col-6">
        <m-switch setId="TEACHING_FORMAT_12" setLabel="LABEL.TEACHING_FORMAT_12" [(setModel)]=model.teachingFormat12     >
        </m-switch>
      </div>
      <div class="field col-6 md:col-6">
        <m-switch setId="TEACHING_FORMAT_13" setLabel="LABEL.TEACHING_FORMAT_13" [(setModel)]=model.teachingFormat13     >
        </m-switch>
      </div>
      <div class="field col-6 md:col-6">
        <m-switch setId="TEACHING_FORMAT_14" setLabel="LABEL.TEACHING_FORMAT_14" [(setModel)]=model.teachingFormat14     >
        </m-switch>
      </div>
      <div class="field col-6 md:col-6">
        <m-switch setId="TEACHING_FORMAT_15" setLabel="LABEL.TEACHING_FORMAT_15" [(setModel)]=model.teachingFormat15     >
        </m-switch>
      </div>
      <div class="field col-6 md:col-6">
        <m-switch setId="TEACHING_FORMAT_16" setLabel="LABEL.TEACHING_FORMAT_16" [(setModel)]=model.teachingFormat16     >
        </m-switch>
      </div>
      <div class="field col-6 md:col-6">
        <m-switch setId="TEACHING_FORMAT_17" setLabel="LABEL.TEACHING_FORMAT_17" [(setModel)]=model.teachingFormat17     >
        </m-switch>
      </div>
      <div class="field col-6 md:col-6">
        <m-switch setId="TEACHING_FORMAT_18" setLabel="LABEL.TEACHING_FORMAT_18" [(setModel)]=model.teachingFormat18     >
        </m-switch>
      </div>
      <div class="field col-6 md:col-6">
        <m-switch setId="TEACHING_FORMAT_19" setLabel="LABEL.TEACHING_FORMAT_19" [(setModel)]=model.teachingFormat19     >
        </m-switch>
      </div>
      <div class="field col-6 md:col-6">
        <m-switch setId="TEACHING_FORMAT_20" setLabel="LABEL.TEACHING_FORMAT_20" [(setModel)]=model.teachingFormat20     >
        </m-switch>
      </div>
      <div class="field col-6 md:col-6">
        <m-switch setId="TEACHING_FORMAT_21" setLabel="LABEL.TEACHING_FORMAT_21" [(setModel)]=model.teachingFormat21     >
        </m-switch>
      </div>
      <div class="field col-6 md:col-6">
        <m-switch setId="TEACHING_FORMAT_22" setLabel="LABEL.TEACHING_FORMAT_22" [(setModel)]=model.teachingFormat22     >
        </m-switch>
      </div>
      <div class="field col-6 md:col-6">
        <m-switch setId="TEACHING_FORMAT_23" setLabel="LABEL.TEACHING_FORMAT_23" [(setModel)]=model.teachingFormat23     >
        </m-switch>
      </div>
      <div class="field col-6 md:col-6">
        <m-switch setId="TEACHING_FORMAT_24" setLabel="LABEL.TEACHING_FORMAT_24" [(setModel)]=model.teachingFormat24     >
        </m-switch>
      </div>
      <div class="field col-6 md:col-6">
        <m-switch setId="TEACHING_FORMAT_25" setLabel="LABEL.TEACHING_FORMAT_25" [(setModel)]=model.teachingFormat25     >
        </m-switch>
      </div>
      <div class="field col-6 md:col-6">
        <m-switch setId="TEACHING_FORMAT_26" setLabel="LABEL.TEACHING_FORMAT_26" [(setModel)]=model.teachingFormat26     >
        </m-switch>
      </div>
      <div class="field col-6 md:col-12">
        <m-switch setId="TEACHING_FORMAT_OTHER" setLabel="LABEL.TEACHING_FORMAT_OTHER" [(setModel)]=model.teachingFormatOther     >
        </m-switch>
      </div>
      <div class="field col-6 md:col-12">
        <m-input-text setId="TEACHING_FORMAT_OTHER_NOTE"  [(setModel)]=model.teachingFormatOtherNote     >
        </m-input-text>
      </div>
    </div>
  </div>
  <div class="grid p-fluid">
    <div class="field col-12 md:col-2">
      <m-button setClassName="backBtn" setLabel="LABEL.BACK" (onClick)="onBack()">
      </m-button>
    </div>
    <div *ngIf = !view class="field col-12 md:col-2">
      <m-button setClassName="saveBtn" setLabel="LABEL.SAVE" (onClick)="onSave()">
      </m-button>
    </div>
  </div>
</div>
