<div class="itemCard">
  <div>
    <div>
      <p class="title-item">{{"MODULE.SAR_ANOTHER_SPEACIAL_DUTY"|translate}}</p>
    </div>
  </div>
  <div class="customCard">
    <button class="group">การปฏิบัติหน้าที่อื่น ๆ ที่ได้รับมอบหมาย</button>
    <div class="grid p-fluid form ">
      <div class="field col-6 md:col-3">
        <m-dropdown setId="TEACHER_ID" setLabel="ชื่อ-สกุล" [(setModel)]=model.teacherId    [setSelectOption]=teacherDropdown [setViewValue]=model.teacherValue [setReadonly] = "isTeacher" >
        </m-dropdown>
      </div>
      <div class="field col-6 md:col-3">
        <m-input-text setId="SCHOOLYEAR" setLabel="LABEL.SCHOOLYEAR" [(setModel)]=model.schoolyear   [setRequired]="true"   >
        </m-input-text>
      </div>

      <div class="field col-6 md:col-12">
            <m-input-text setId="DUTY_NAME"setLabel="หน้าที่ที่ได้รับมอบหมาย"   [(setModel)]=model.dutyName     >
          </m-input-text>
        
        </div>
          <div class="field col-6 md:col-12">
            <m-input-text setId="REFERENCE_DOC"setLabel="สังกัด"  [(setModel)]=model.referenceDoc     >
          </m-input-text>
        </div>


    </div>
  </div>
  <div class="grid p-fluid">
    <div class="field col-12 md:col-2">
      <m-button setClassName="backBtn" setLabel="LABEL.BACK" (onClick)="onBack()">
      </m-button>
    </div>
    <div *ngIf = !view class="field col-12 md:col-2">
      <m-button setClassName="saveBtn" setLabel="LABEL.SAVE" (onClick)="onSave()">
      </m-button>
    </div>
  </div>
</div>
