.title{
    font-size: 28px;
    padding: 10px 0px;
    color:  #0d53b1;
    font-weight: 700;
  }
  
  .m-card{
    background: #efefef;
    padding: 2px;
    border-radius: 20px;
  }
  table {
    font-family: arial, sans-serif;

  }

  td, th {
    border: 1px solid #efefef;
    text-align: left;
    background-color: #ffffff;
    padding: 5px;
  }
  .m-col-bw-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .m-m{
    padding: 0px 15px;
  }
  .btn-grod{
    display: flex;
    gap: 10px;
  }
  .m-btn-add{
    cursor: pointer;
    background: #5271ff;
    color: #fff;
    padding: 5px 8px;
    border: 0px solid;
    font-size: 17px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .m-btn-import{
    cursor: pointer;
    background: #7ed957;
    color: #fff;
    padding: 5px 8px;
    border: 0px solid;
    font-size: 17px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .m-btn-pdf{
    margin-left: 10px;
    cursor: pointer;
    background: #2b8803;
    color: #fff;
    padding: 5px 8px;
    border: 0px solid;
    font-size: 17px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .m-btn-del{
    cursor: pointer;
    background: #ff1616;
    color: #fff;
    padding: 5px 8px;
    border: 0px solid;
    font-size: 17px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .m-mt-20{
    margin-top: 20px;
  }
  .m-option{
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .m-option-export{
    display: flex;
      align-items: center;
      gap: 10px;
  }
  .input-search{
    width: 100px;
  }
  .kis-table::ng-deep .p-paginator{
    background: #ffffff00;
  }
  .input-search{
    padding: 10px;
    border: 0px solid;
    width: 150px;
    text-align: center;
  }
  .totalRecord{
    background: #fed513;
    padding: 5px;
    border-radius: 10px;
  }
  .m-btn-del-s{
    margin-right: auto;
    cursor: pointer;
    background: #ff1616;
    color: #fff;
    padding: 3px;
    border: 0px solid;
    font-size: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .m-btn-edit-s{
    margin-left: auto;
    cursor: pointer;
    background: hsl(115, 99%, 27%);
    color: #fff;
    padding: 3px;
    border: 0px solid;
    font-size: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .m-btn-view-s{
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
    background: #ffd300;
    color: #fff;
    padding: 3px;
    border: 0px solid;
    font-size: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .customCard{
    border-radius: 10px;
    background-color: #efefef;
    
  }
  .o-btn{
    display: flex;
    justify-content: space-evenly;
  }


.ob-Ex{
    cursor: pointer;
    background: #fff;
    padding: 5px;
}
.Search{
    display: flex;
    flex-wrap: wrap;
}
// .clasdad{
//     width: 72.4w;
//     overflow-x: scroll;
// }

@media (max-width: 1024px){
	
}
@media (max-width: 768px){
	
}

@media (max-width: 515px){
  .customTable::ng-deep .p-datatable-scrollable .p-datatable-wrapper{
  overflow: scroll;
  width: 91vw;
}
    .clasdad{
        width: 100vw;
        overflow-x: scroll;
    }
    .header-item{
      font-size: 20px;
      padding: 10px
    }
    .btn-grod{
      display: flex;
      gap: 10px;
      flex-direction: column;
    }
}
.bmiCard{
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.thin{
  background-color: gray;
  color: white;
}
.normal{
  background-color: green;
  color: white;
}
.prefat{
  background-color: rgb(200, 255, 0);
  color: black;
}
.fat{
  background-color: yellow;
  color: black;
}

.veryfat{
  background-color: rgb(255, 153, 0);
  color: black;
}
.vertical{
  position: relative;
  transform: rotate(180deg);
  white-space: nowrap;
  writing-mode: vertical-rl;
  align-content: start;
  width: fit-content;
  align-self: normal;
}
.t-header{
  padding-left: 0px;
  padding-top: 0px;
  width: 250px;
}
.horizontal{
  margin-left: 10px;
}
.m-btn-pdf-confirm{
  margin-top: 200px;
  margin-left: 10px;
  cursor: pointer;
  background: #2b8803;
  color: #fff;
  padding: 5px 8px;
  border: 0px solid;
  font-size: 17px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.m-btn-pdf-confirm-all{
  margin-top: 200px;
  margin-left: 10px;
  cursor: pointer;
  background: #5271ff;
  color: #fff;
  padding: 5px 8px;
  border: 0px solid;
  font-size: 17px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}
