.rowLabel{
    margin-left: 10px;
}

.field{
    margin-left: -1px;
    border: 1px solid #5d5d5d;
    margin-bottom: -1px;
    font-size: 15px;

}
.input-field{
    align-content: center;
}
.col-12 {
    flex: 0 0 auto;
    padding: 0rem;

}
.center{
    justify-content: center;
}